body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3fafd;
}

.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    font-family: 'Cairo', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #217093;
    color: #ffffff;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}

.styled-table th,
.styled-table td {
    padding: 8px 10px;
}

.to-be-rounded {
    border-radius: 10px 10px 0px 0px; /* Rounded border */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h2 {
    margin: 0;
}

.header-content h3 {
    margin: 0;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #c1e2f0;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #217093;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #217093;
}

#download-btn {
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4eb8dd;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    height: 30px;
    color: #FFF;
    font-weight: 400;
    font-family: 'cairo', sans-serif;
    transition: background-color .2s ease-out;
}

#download-btn:hover {
    background-color: #1b5a75;
}
